In [64]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.

from config import g_key
from datetime import datetime
import time

In [65]:
# Store the CSV you saved created in part one into a DataFrame.
itineraryData_df = pd.read_csv("Data/WeatherPy_vacation.csv", index_col = 0)
itineraryData_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Brae,GB,50.00,light rain,60.40,-1.35,Busta House Hotel
25,Mataura,NZ,50.00,light rain,-46.19,168.86,Ellie's Villa
32,Kiama,AU,73.00,light rain,-34.67,150.86,The Sebel Kiama Harbourside
34,Sao Mateus Do Maranhao,BR,74.08,light rain,-4.04,-44.48,Pousada Pingo De Ouro
41,Atuona,PF,79.90,light rain,-9.80,-139.03,Villa Enata
48,Karratha,AU,87.49,light rain,-20.74,116.85,ibis Styles Karratha
59,Cayenne,GF,77.00,light rain,4.94,-52.33,Hôtel Le Dronmi
67,Dingle,PH,79.36,light rain,11.00,122.67,Camp Pasica
72,Arraial Do Cabo,BR,76.08,light rain,-22.97,-42.02,Pousada Porto Praia
81,Dzilam Gonzalez,MX,72.73,light rain,21.28,-88.93,Amina

In [66]:
#filter the four picked cities we picked

Nortelandia_df = itineraryData_df[itineraryData_df["City"]== "Nortelandia"]
Nortelandia_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
514,Nortelandia,BR,73.02,light rain,-14.45,-56.8,Hotel Karysmã

In [67]:
#filter the four picked cities we picked

Arraial_df = itineraryData_df[itineraryData_df["City"]== "Arraial Do Cabo"]
Arraial_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
72,Arraial Do Cabo,BR,76.08,light rain,-22.97,-42.02,Pousada Porto Praia

In [68]:
#filter the four picked cities we picked
NovaVicosa_df = itineraryData_df[itineraryData_df["City"]== "Nova Vicosa"]
NovaVicosa_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
199,Nova Vicosa,BR,74.41,light rain,-17.89,-39.37,Pousada Porto do Sol

In [69]:
Linhares_df = itineraryData_df[itineraryData_df["City"]== "Linhares"]
Linhares_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
215,Linhares,BR,72.95,light rain,-19.38,-40.06,Hotel Conceição

In [70]:
#create dataframe for the four picked cities
pickedcities_df = itineraryData_df[itineraryData_df["City"].isin(["Nortelandia","Linhares","Nova Vicosa","Arraial Do Cabo"])]
pickedcities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
72,Arraial Do Cabo,BR,76.08,light rain,-22.97,-42.02,Pousada Porto Praia
199,Nova Vicosa,BR,74.41,light rain,-17.89,-39.37,Pousada Porto do Sol
215,Linhares,BR,72.95,light rain,-19.38,-40.06,Hotel Conceição
514,Nortelandia,BR,73.02,light rain,-14.45,-56.80,Hotel Karysmã

In [71]:
#create longtititue and latitude pairs 
lng_lat = pickedcities_df[["Lat","Lng"]]
citiesT = [tuple(x) for x in lng_lat.values]
citiesT

[(-22.97, -42.02), (-17.89, -39.37), (-19.38, -40.06), (-14.45, -56.8)]

In [72]:
#create lat lng values for each city using tuple 

Nortelandia_lat_lng = Nortelandia_df[["Lat", "Lng"]]
NortelandiaT = [tuple(x) for x in Nortelandia_lat_lng.values][0]
NortelandiaT

(-14.45, -56.8)

In [73]:
#create lat lng values for each city using tuple 

Arraial_lat_lng = Arraial_df[["Lat", "Lng"]]
ArraialT = [tuple(x) for x in Arraial_lat_lng.values][0]
ArraialT

(-22.97, -42.02)

In [74]:
#create lat lng values for each city using tuple 
NovaVicosa_lat_lng = NovaVicosa_df[["Lat", "Lng"]]
NovaVicosaT = [tuple(x) for x in NovaVicosa_lat_lng.values][0]
NovaVicosaT

(-17.89, -39.37)

In [75]:
#create lat lng values for each city using tuple 
Linhares_lat_lng = Linhares_df[["Lat", "Lng"]]
LinharesT = [tuple(x) for x in Linhares_lat_lng.values][0]
LinharesT

(-19.38, -40.06)

In [76]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [77]:
#create a direction map

fig = gmaps.figure()
#map the drive to the four picked cities 
#driving_directions = gmaps.directions_layer(ZACapeTownD, ZAPortAlfredD, waypoints=[ZAKruisfonteinD, ZAHermanusD], travel_mode='DRIVING')
driving_directions = gmaps.directions_layer(NortelandiaT, ArraialT, waypoints=[NovaVicosaT, LinharesT], travel_mode='DRIVING')
fig.add_layer(driving_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} °F</dd>
</dl>
"""

In [79]:
# Store the DataFrame Row.
hotels = [info_box_template.format(**row) for index, row in pickedcities_df.iterrows()]

In [80]:
#set the pop-up marker for each city in the vacation itinerary


locations = pickedcities_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Store the DataFrame Row.

marker_layer = gmaps.marker_layer(locations, info_box_content= hotels)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))